.title{font-size:30;horizontal-align:center;margin:20;color:#000}button{font-size:42;horizontal-align:center;color:blue}.message{font-size:20;color:#284848;horizontal-align:center;margin:0 20;text-align:center}
